<div class="board">
  <%= form_for(:password, url: change_password_user_path(@user), html: { class: 'profile-form' }) do |f| %>
    <div class="profile-form__group">
      <div class="profile-form__name">
      <%= f.label :current_password, class: 'profile-form__label' %>
      </div>
      <div class="profile-form__value">
        <%= f.password_field :current_password, class: 'profile-form__input' %>
      </div>
    </div>
    <div class="profile-form__group">
      <div class="profile-form__name">
      <%= f.label :password, 'New password', class: 'profile-form__label' %>
      </div>
      <div class="profile-form__value">
        <%= f.password_field :password, class: 'profile-form__input' %>
      </div>
    </div>
    <div class="profile-form__group">
      <div class="profile-form__name">
      </div>
      <div class="profile-form__value">
        <%= f.submit 'Save changes', class: 'button button--primary' %>
      </div>
    </div>
    <%= render 'shared/error_messages' %>
    <%= render 'shared/flash_messages' %>
  <% end %>
</div>
