<%= render 'shared/header' %>
<div class="user">
  <div class="user__avatar"></div>
  <div class="user__detail">
    <div class="user__name"><%= @user.username %></div>
    <div class="user__email"><%= @user.email %></div>
  </div>
</div>
<main class="main">
  <div class="main__inner">
    <div class="dashboard">
      <div class="sidebar">
        <ul class="menu">
          <li class="menu__item">
            <%= link_to 'Collection', current_user, class: 'menu__link menu__link--active' %>
          </li>
          <li class="menu__item">
            <%= link_to 'Logout', logout_path, method: :delete, class: 'menu__link' %>
          </li>
        </ul>
      </div>
      <div class="detail">
      </div>
    </div>
  </div>
</main>
