<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <div class="user">
      <div class="user__avatar"></div>
      <div class="user__detail">
        <div class="user__name"><%= @user.username %></div>
        <div class="user__email"><%= @user.email %></div>
        <div class="user__books">
          <div class="user__book-count"><%= pluralize(@user.books.count, "book") %></div>
          <%= link_to 'Add books', new_book_path, class: 'button button--small button--secondary' %>
        </div>
      </div>
      </div>
    </div>

    <main class="main">
      <div class="main__inner">
        <div class="dashboard">
          <div class="sidebar">
            <%= yield :sidebar %>
          </div>
          <div class="detail">
            <%= yield :detail %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
